{% extends 'base.html.twig' %}
    {% block title %} Deals {% endblock %}
    {% block transparant %} {% endblock %}
    {% block body %}
        <!--End header -->
        <!-- Profile Cover -->
        {% for x in deal %}
          <a href="#" data-toggle="modal" data-target="#id-popup">  <section class="image-bg lis-grediant grediant-bt-dark text-white pb-4 profile-inner">
                   <div class="background-image-maker"></div>
                    <div class="holder-image" ><img src="{{ vich_uploader_asset(x,'devisFile') }}" alt="" id="myImg" class="img-fluid d-none"> </div>
                <div class="container">

                    <div class="row justify-content-center wow fadeInUp">
                        <div class="col-12 col-md-8 mb-4 mb-lg-0">
                                <div class="media d-block d-md-flex text-md-left text-center"> <img  src="{{ asset('images/profile-1.png') }}" class="img-fluid d-md-flex mr-4 border border-white lis-border-width-4 rounded mb-4 mb-md-0" alt="" />
                                    <div class="media-body align-self-center">
                                        <h2 class="text-white font-weight-bold lis-line-height-1">{{ x.nom }}</h2>
                                    </div>
                                </div>
                        </div>
                        <div class="col-12 col-md-4 align-self-center">

                        </div>
                    </div>
                </div>
              </section></a>
            <div class="clear-fix"></div>
            <div class="modal fade" id="id-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" style="min-width: 100%">
                        <img src="{{ vich_uploader_asset(x,'devisFile') }}" style="margin: 0 auto ;display: block">
                </div>
            </div>
            <!--End Profile Cover -->
            <!-- Profile header -->
            <div class="profile-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xl-5 order-xl-1 order-2 text-xl-right text-center">
                            <ul class="nav nav-pills flex-column flex-sm-row lis-font-poppins" id="myTab" role="tablist">
                                <li class="nav-item ml-0"> <a class="nav-link lis-light py-4 lis-relative mr-3 active" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="true"> {{ x.nom }}</a> </li>

                            </ul>
                        </div>
                        <div class="col-12 col-xl-7 align-self-center order-xl-2 order-1 text-xl-right text-center ">
                            <div class="cover-btn mt-4 mt-xl-0 lis-f-14">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light rounded-left"><i class="fa fa-envelope-o pr-1"></i> Add review</a> </li>
                                    <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light"><i class="fa fa-heart-o pr-1"></i> Bookmark</a> </li>
                                    <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light"><i class="fa fa-share pr-1"></i> Share</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End header -->
            <!-- Profile Content -->
            <section class="lis-bg-light pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 mb-5 mb-lg-0">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile">
                                <h6 class="lis-font-weight-500"><i class="fa fa-align-right pr-2 lis-f-14"></i> Description</h6>
                                <div class="card lis-brd-light wow fadeInUp mb-4">
                                    <div class="card-body p-4">

                                        <p class="pt-3 mb-0">{{ x.description }}</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <h6 class="lis-font-weight-500"><i class="fa fa-star pr-2 lis-f-14"></i> Listing Ratings</h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                    <li class="list-inline-item"><i class='fa fa-star-o'></i></li>
                                    <li class="list-inline-item"><i class='fa fa-star-o'></i></li>
                                    <li class="list-inline-item"> 3.0</li>
                                </ul> <small>2.77 average based on 19184 ratings</small> </div>
                        </div>


                        <h6 class="lis-font-weight-500"><i class="fa fa-user-secret pr-2 lis-f-14"></i>Proprietaire </h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <div class="media d-md-flex">
                                    <a href="#"><img src="{{ asset('images/author4.jpg') }}" class="img-fluid d-flex mr-4 rounded-circle" alt="" width="70" /></a>
                                    <div class='media-body align-self-center'>
                                        <h6 class="mb-0">{{ x.iduser.username }}<a href="#" class="lis-dark"></a></h6>
                                        <p class='mb-0'>Membre depuis $DATE</p>
                                    </div>
                                </div>
                                <ul class="list-unstyled my-4 lis-line-height-2">
                                    <li><i class="fa fa-phone pr-2"></i> $PHONE</li>
                                    <li><i class="fa fa-map-o pr-2"></i> $Adresse</li>
                                </ul>
                                <ul class="list-inline my-0">
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-tumblr"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6 class="lis-font-weight-500"><i class="fa fa-envelope pr-2 lis-f-14"></i>  Send Message</h6>
                        <div class="card lis-brd-light wow fadeInUp">
                            <div class="card-body p-4">
                                <div class="form-group lis-relative">
                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Your Name">
                                    <div class="lis-search"> <i class="fa fa-user lis-primary lis-left-0"></i> </div>
                                </div>
                                <div class="form-group lis-relative">
                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Email address">
                                    <div class="lis-search"> <i class="fa fa-envelope lis-primary lis-left-0"></i> </div>
                                </div>
                                <div class="form-group lis-relative">
                                    <textarea class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Message"></textarea>
                                    <div class="lis-search"> <i class="fa fa-pencil lis-primary lis-left-0 lis-top-10"></i> </div>
                                </div> <a href="#" class="btn btn-primary btn-default"> Submit Message</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <!-- End Profile Content -->
        <!-- Footer-->
    {% endblock %}

