{% extends 'base.html.twig' %}
    {% block title %} Hotels {% endblock %}
    {% block transparant %} {% endblock %}
    {% block body %}


        <!--End header -->
        <!-- Sidebar -->
        <section class="">

            <div class="container">
                <div class="row pt-5">
                    <div class="row my-4" style="padding-left: 83%">
                        <div class="col-12 col-md-12"> <a href="{{ path('App_bon_plan_ajout_restaurant') }}" class="btn btn-primary btn-default"> <i class="fa fa-plus-circle pr-2"></i>Ajouter Restaurant   </a> </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <form method="POST">
                            <div class="lis-relative">
                                <h5 class="mb-2">What are you looking for?</h5>
                                <p>Search by Category</p>

                                <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form-group lis-relative">
                                            <input type="text" name="name" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="What are you looking for?">
                                            <div class="lis-search"> <i class="fa fa-search lis-primary lis-left-0"></i> </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form-group lis-relative">
                                            <input type="text" name="address" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Adresse">
                                            <div class="lis-search"> <i class="fa fa-map-o lis-primary lis-left-0"></i> </div>
                                            <div class="lis-search"> <a href="#" class="lis-light"><i class="fa fa-crosshairs lis-left-auto lis-right-0"></i></a> </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form-group lis-relative">
                                            <select class="style-select form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4">
                                                <option> All Categories</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <div class="lis-search"> <i class="fa fa-tags lis-primary lis-left-0"></i> </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form-group lis-relative">
                                            <p class="pt-2 mb-2">Radius <span id="ex6CurrentSliderValLabel"> <span id="ex6SliderVal">530 </span></span>
                                            </p>
                                            <input id="ex6" type="text" data-slider-min="300" data-slider-max="1000" data-slider-step="1" data-slider-value="3" /> </div>
                                    </div>
                                </div>
                                <button class="filter-btn bg-transparent border-0 lis-dark collapsed" data-toggle="collapse" data-target="#demo"> More Filters </button>
                                <div id="demo" class="collapse p-3 mt-3 form-wrapper">
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox1" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Care Parking</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox5" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Events</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox3" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Wireless Internet</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox7" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Friendly Workspace</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox2" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Smoking Allowed</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox6" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Acceted Bank Cards</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox4" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Elevator Building</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox8" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Street Parking</span> </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-4">


                                    <div class="col-12 col-md-12">   <input value="Rechercher" class="btn btn-primary btn-default" type="submit" name="submit" > </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-sm-6 align-self-center">
                                <p>Resultats 1 - 6</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="float-sm-right shorting">
                                    <div class="form-group lis-relative">
                                        <select class="form-control border-0 pl-4">
                                            <option>Default Order</option>
                                            <option>Newest First</option>
                                            <option>Oldest First</option>
                                            <option>Highest Rating</option>
                                            <option>Lowest Rating</option>
                                            <option>Random</option>
                                        </select>
                                        <div class="lis-search"> <i class="fa fa-sliders lis-primary lis-left-0"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- affiche -->
                            {% for x in restaurants %}

                                <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4 mb-md-0">
                                    <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                        <a href="{{ path("App_bon_plan_profil_hotel",{'id':x.id})  }}">
                                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{vich_uploader_asset(x,'devisFile')}}" alt="" class="img-fluid rounded-top w-100" /> </div>
                                            <div class="lis-absolute lis-left-20 lis-top-20">
                                                <div  class="lis-post-meta border border-white text-white rounded lis-f-14"  ><a href="{{ path("App_bon_plan_delete_restaurant",{'id':x.id})  }}" class="text-white" > <i class="fa fa-trash text-white"></i> Delete </a></div>


                                            </div>
                                            <div class="lis-absolute lis-right-20 lis-top-20">
                                                <div  class="lis-post-meta border border-white text-white rounded lis-f-14"  ><a href="{{ path("App_bon_plan_update_hotel",{'id':x.id})  }}" class="text-white" > <i class="fa fa-pencil text-white"></i> Edit </a></div>


                                            </div>
                                        </a>
                                        <div class="card-body pt-0">
                                            <div class="media d-block d-lg-flex lis-relative"> <img src="{{vich_uploader_asset(x,'devisFile')}}" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                                <div class="media-body align-self-start mt-2">
                                                    <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">{{ x.name }}</A></h6> </div>
                                            </div>
                                            <ul class="list-unstyled my-4 lis-line-height-2">
                                                <li><i class="fa fa-phone pr-2"></i> {{ x.phone }}</li>
                                                <li><i class="fa fa-map-o pr-2"></i> {{ x.address }}</li>
                                            </ul>
                                            <div class="clearfix">
                                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                                    {% for i in 1..x.etoile %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    {% endfor %}
                                                    <li class="list-inline-item"> {{ x.etoile }} Etoiles </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>

        </section>
        <!--End Sidebar -->
        <!-- Footer-->


    {% endblock %}