{% extends 'base.html.twig' %}
    {% block title %} Hotels {% endblock %}
    {% block transparant %} {% endblock %}
    {% block body %}
<!--End header -->
<!-- Profile Cover -->
        {% for x in restaurants %}
        <!-- Profile Cover -->
        <section class="image-bg lis-grediant grediant-bt-dark text-white pb-4 profile-inner">
            <div class="background-image-maker"></div>
            <div class="holder-image"> <img src="{{ asset('images/product-slide4.jpg') }}" alt="" class="img-fluid d-none"> </div>
            <div class="container">
                <div class="row justify-content-center wow fadeInUp">
                    <div class="col-12 col-md-8 mb-4 mb-lg-0">
                        <a href="#" class="text-white">
                            <div class="media d-block d-md-flex text-md-left text-center"> <img src="{{vich_uploader_asset(x,'devisFile')}}" class="img-fluid d-md-flex mr-4 border border-white lis-border-width-4 rounded mb-4 mb-md-0" alt="" />
                                <div class="media-body align-self-center">
                                    <h2 class="text-white font-weight-bold lis-line-height-1">{{ x.name }}</h2>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 align-self-center">
                        <ul class="list-unstyled mb-0 lis-line-height-2 text-md-right text-center">
                            <li><i class="fa fa-phone pr-2"></i>{{ x.phone }}</li>
                            <li>
                                <A href="#" class="text-white"><i class="fa fa-envelope pr-2"></i>{{ x.email }}</A>
                            </li>
                            <li>
                                <A href="#" class="text-white"><i class="fa fa-map-o pr-2"></i> {{ x.address }}</A>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Profile Cover -->
        <!-- Profile header -->
        <div class="profile-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-3 order-xl-1 order-2 text-xl-right text-center">
                        <ul class="nav nav-pills flex-column flex-sm-row lis-font-poppins" id="myTab" role="tablist">
                            <li class="nav-item ml-0"> <a class="nav-link lis-light py-4 lis-relative mr-3 active" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="true"> Profile</a> </li>
                            <li class="nav-item ml-0"> <a class="nav-link lis-light py-4 lis-relative mr-3" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"> Reviews</a> </li>
                        </ul>
                    </div>
                    <div class="col-12 col-xl-9 align-self-center order-xl-2 order-1 text-xl-right text-center ">
                        <div class="cover-btn mt-4 mt-xl-0 lis-f-14">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light rounded-left"><i class="fa fa-envelope-o pr-1"></i> Add review</a> </li>
                                <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light"><i class="fa fa-heart-o pr-1"></i> Bookmark</a> </li>
                                <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light"><i class="fa fa-share pr-1"></i> Share</a> </li>
                                <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light rounded-right"><i class="fa fa-ellipsis-h"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End header -->
        <!-- Profile Content -->
        <section class="lis-bg-light pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 mb-5 mb-lg-0">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile">

                                <h6 class="lis-font-weight-500"><i class="fa fa-align-right pr-2 lis-f-14"></i> Description</h6>
                                <div class="card lis-brd-light wow fadeInUp mb-4">
                                    <div class="card-body p-4">
                                        <p class="mb-0">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
                                    </div>
                                </div>
                                <h6 class="lis-font-weight-500"><i class="fa fa-chain pr-2 lis-f-14"></i> Amenities</h6>
                                <div class="card lis-brd-light wow fadeInUp mb-4">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.parking==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Parking</li>{% endif %}
                                                    {% if x.cartecredit==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Accepte carte cerdit</li>{% endif %}
                                                    {% if x.chaiseroulante==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i> Chaise Roulante</li>{% endif %}
                                                    {% if x.fumer==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Fumer</li>{% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.terasse==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Terrase</li>{% endif %}
                                                    {% if x.wifi==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Wifi</li>{% endif %}
                                                    {% if x.reservations==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Reservation</li>{% endif %}

                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.alcool==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Aclhool</li>{% endif %}
                                                    {% if x.climatisation==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Climatisation</li>{% endif %}
                                                    {% if x.animaux==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Accepte les animaux</li>{% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews">
                                <h6 class="lis-font-weight-500"><i class="fa fa-signal pr-2 lis-f-14"></i> Reviews</h6>
                                <div class="card lis-brd-light wow fadeInUp mb-2">
                                    <div class="card-body p-4">
                                        <div class="media d-block d-sm-flex text-center text-sm-left">
                                            <a href="#"><img src="{{ asset('images/author5.jpg') }}" class="img-fluid d-md-flex mr-sm-4 rounded-circle" alt="" width="60"></a>
                                            <div class="media-body align-self-center">
                                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h5 float-sm-right float-none my-md-0 my-3">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <h6 class="mb-0"><a href="#" class="lis-dark">Jack Amiel</a></h6>
                                                <p>November 03, 2017</p>
                                                <h6 class="lis-primary mb-2">Best Place To Eat Breakfast</h6>
                                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci placerat dolor.</p>
                                                <div class="review-image my-3">
                                                    <a href="{{ asset('images/review1.jpg') }}" data-toggle="lightbox" data-gallery="example-gallery"><img src="{{ asset('images/review1.jpg') }}" class="img-fluid rounded w-25 mr-2" alt=""></a>
                                                    <a href="{{ asset('images/review2.jpg') }}" data-toggle="lightbox" data-gallery="example-gallery"><img src="{{ asset('images/review2.jpg') }}" class="img-fluid rounded w-25 mr-2" alt=""></a>
                                                    <a href="{{ asset('images/review3.jpg') }}" data-toggle="lightbox" data-gallery="example-gallery"><img src="{{ asset('images/review3.jpg') }}" class="img-fluid rounded w-25 mr-2" alt=""></a>
                                                </div>
                                                <ul class="list-inline mb-0 comment-info lis-f-14">
                                                    <li class="list-inline-item mr-4 lis-relative"><a href="#" class="lis-light"><i class="fa fa-thumbs-up pr-1"></i> 20 Likes</a></li>
                                                    <li class="list-inline-item  lis-relative"><a href="#" class="lis-light"><i class="fa fa-reply-all pr-1"></i> 20 Reply</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card lis-brd-light wow fadeInUp mb-2">
                                    <div class="card-body p-4">
                                        <div class="media d-block d-sm-flex text-center text-sm-left">
                                            <a href="#"><img src="{{ asset('images/author6.jpg') }}" class="img-fluid d-md-flex mr-sm-4 rounded-circle" alt="" width="60"></a>
                                            <div class="media-body align-self-center">
                                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h5 float-sm-right float-none my-md-0 my-3">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                </ul>
                                                <h6 class="mb-0"><a href="#" class="lis-dark">John Deo</a></h6>
                                                <p>October 28, 2017</p>
                                                <h6 class="lis-primary mb-2">Good Place</h6>
                                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci placerat dolor.</p>
                                                <ul class="list-inline mb-0 comment-info lis-f-14">
                                                    <li class="list-inline-item mr-4 lis-relative"><a href="#" class="lis-light"><i class="fa fa-thumbs-up pr-1"></i> 20 Likes</a></li>
                                                    <li class="list-inline-item  lis-relative"><a href="#" class="lis-light"><i class="fa fa-reply-all pr-1"></i> 20 Reply</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card lis-brd-light wow fadeInUp mb-2">
                                    <div class="card-body p-4">
                                        <div class="media d-block d-sm-flex text-center text-sm-left">
                                            <a href="#"><img src="{{ asset('images/author7.jpg') }}" class="img-fluid d-md-flex mr-sm-4 rounded-circle" alt="" width="60"></a>
                                            <div class="media-body align-self-center">
                                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h5 float-sm-right float-none my-md-0 my-3">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <h6 class="mb-0"><a href="#" class="lis-dark">Jonathan</a></h6>
                                                <p>October 25, 2017</p>
                                                <h6 class="lis-primary mb-2">Delicious Food</h6>
                                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci placerat dolor.</p>
                                                <div class="review-image my-3">
                                                    <a href="{{ asset('images/review4.jpg') }}" data-toggle="lightbox" data-gallery="example-gallery"><img src="{{ asset('images/review4.jpg') }}" class="img-fluid rounded w-25 mr-2" alt=""></a>
                                                </div>
                                                <ul class="list-inline mb-0 comment-info lis-f-14">
                                                    <li class="list-inline-item mr-4 lis-relative"><a href="#" class="lis-light"><i class="fa fa-thumbs-up pr-1"></i> 20 Likes</a></li>
                                                    <li class="list-inline-item  lis-relative"><a href="#" class="lis-light"><i class="fa fa-reply-all pr-1"></i> 20 Reply</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination list-inline mb-0 text-center text-uppercase lis-f-14 justify-content-center my-4">
                                    <li class="p-1 page-item"><a class="page-link lis-brd-light lis-light rounded" href="#"><i class="fa fa-angle-left pr-1"></i> Prev</a></li>
                                    <li class="p-1 page-item d-none d-sm-inline-block"><a class="page-link lis-light rounded" href="#">1</a></li>
                                    <li class="p-1 page-item d-none d-sm-inline-block"><a class="page-link lis-light rounded" href="#">2</a></li>
                                    <li class="p-1 page-item d-none d-sm-inline-block"><a class="page-link lis-light rounded" href="#">3</a></li>
                                    <li class="p-1 page-item"><a class="page-link lis-brd-light lis-light rounded" href="#"> Next <i class="fa fa-angle-right pl-1"></i></a></li>
                                </ul>
                                <h6 class="lis-font-weight-500"><i class="fa fa-commenting pr-2 lis-f-14"></i>  Add Review</h6>
                                <div class="card lis-brd-light wow fadeInUp">
                                    <div class="card-body p-4">
                                        <p class="mb-2">Your rating for this listing</p>
                                        <ul class="list-inline lis-light-gold font-weight-normal h5">
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group lis-relative">
                                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Your Name">
                                                    <div class="lis-search"> <i class="fa fa-user lis-primary lis-left-0"></i> </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group lis-relative">
                                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Email address">
                                                    <div class="lis-search"> <i class="fa fa-envelope lis-primary lis-left-0"></i> </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group lis-relative">
                                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Title of review">
                                                    <div class="lis-search"> <i class="fa fa-drivers-license-o lis-primary lis-left-0"></i> </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group lis-relative">
                                                    <textarea class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Review"></textarea>
                                                    <div class="lis-search"> <i class="fa fa-pencil lis-primary lis-left-0 lis-top-10"></i> </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <h6 class="lis-font-weight-500">  Add a photo</h6>
                                                <input type="file" class="d-block"> <small>Note: The image size should smaller than or equal to 20MB</small> </div>
                                        </div> <a href="#" class="btn btn-primary btn-default mt-3"> Submit Review</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <h6 class="lis-font-weight-500"><i class="fa fa-dot-circle-o pr-2 lis-f-14"></i> Status</h6>
                        <div class="card lis-bg-primary lis-brd-primary mb-4">
                            <div class="card-body p-4">
                                <div class="media d-block d-xl-flex text-white">
                                    <div class="d-xl-flex mr-4"> <a href="#" class="btn btn-white btn-xl mb-3 mb-xl-0">For Rent</a> </div>
                                    <div class="media-body align-self-center">
                                        <p class="mb-0"> <strong>Prix Moyenne:</strong> <strong class="h5">{{ x.prixmoy }} </strong> DT / Nuit </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="lis-font-weight-500"><i class="fa fa-star pr-2 lis-f-14"></i> Property Ratings</h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                    {% for i in 1..x.etoile %}
                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                  {% endfor %}
                                    <li class="list-inline-item"> {{ x.etoile }} Etoiles </li>
                                </ul>
                            </div>
                        </div>
                        <h6 class="lis-font-weight-500"><i class="fa fa-leaf pr-2 lis-f-14"></i> Features</h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <ul class="list-unstyled mb-0 lis-line-height-3_5">

                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light"><i class="fa fa-bed pr-2"></i> Nombre de Chambres<span class="float-right">  {{ x.nbrchambre }}</span></li>
                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light"><i class="fa fa-arrow-circle-right pr-2"></i> Check-IN <span class="float-right"> {{ x.checkin }}</span></li>
                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light"><i class="fa fa-arrow-circle-o-left pr-2"></i> Check-Out<span class="float-right"> {{ x.checkout }}</span></li>
                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light">
                                        <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.lpd==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Logement Petit Déjeuner</li>{% endif %}
                                            {% if x.dp==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Demi Pension</li>{% endif %}
                                            {% if x.pc==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i> Pension Complete</li>{% endif %}
                                            {% if x.allinclusive==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i> All inclusive</li>{% endif %}
                                                </ul>

                                        </li>


                                </ul>
                            </div>
                        </div>

                        <h6 class="lis-font-weight-500"><i class="fa fa-user-secret pr-2 lis-f-14"></i>  Author</h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <div class="media d-md-flex">
                                    <a href="#"><img src="{{ asset('images/author4.jpg') }}" class="img-fluid d-flex mr-4 rounded-circle" alt="" width="70" /></a>
                                    <div class='media-body align-self-center'>
                                        <h6 class="mb-0"><a href="#" class="lis-dark">{{ x.iduser.name }}</a></h6>
                                        <p class='mb-0'>Membre depuis XXXX</p>
                                    </div>
                                </div>
                                <ul class="list-unstyled my-4 lis-line-height-2">
                                    <li><i class="fa fa-phone pr-2"></i> XXX PHONE</li>
                                    <li><i class="fa fa-map-o pr-2"></i> XXX adresse</li>
                                </ul>
                                <ul class="list-inline my-0">
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-tumblr"></i></a></li>
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6 class="lis-font-weight-500"><i class="fa fa-envelope pr-2 lis-f-14"></i>  Send Message</h6>
                        <div class="card lis-brd-light wow fadeInUp">
                            <div class="card-body p-4">
                                <div class="form-group lis-relative">
                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Your Name">
                                    <div class="lis-search"> <i class="fa fa-user lis-primary lis-left-0"></i> </div>
                                </div>
                                <div class="form-group lis-relative">
                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Email address">
                                    <div class="lis-search"> <i class="fa fa-envelope lis-primary lis-left-0"></i> </div>
                                </div>
                                <div class="form-group lis-relative">
                                    <textarea class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Message"></textarea>
                                    <div class="lis-search"> <i class="fa fa-pencil lis-primary lis-left-0 lis-top-10"></i> </div>
                                </div> <a href="#" class="btn btn-primary btn-default"> Submit Message</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    {% endblock %}