{% extends 'layout.html.twig' %}
{% block title %} Acceuil {% endblock %}
{% block body %}
    <section class="image-bg lis-grediant grediant-tb">
        <div class="background-image-maker"></div>
        <div class="holder-image"> <img src="{{asset('images/bg4.jpg')}}" alt="" class="img-fluid d-none"> </div>
        <div class="container">
            <div class="row justify-content-center pt-5">
                <div class="col-12 col-md-10 text-center wow fadeInUp">
                    <div class="heading pb-5">
                        <h1 class="display-4">Explorer les Bon Plans </h1>
                        <h4 class="font-weight-normal mb-0">Les meilleurs adresses , evenements , Deals </h4> </div>
                    <ul class="nav nav-tabs flex-column flex-sm-row" id="myTab" role="tablist">
                        <li class="nav-item mr-md-1"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-map-marker pr-1"></i>Restaurants</a> </li>
                        <li class="nav-item mr-md-1"> <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-microphone pr-1"></i> Hôtels</a> </li>
                       </ul>
                    <div class="tab-content bg-white p-5 rounded-bottom rounded-right" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="?" />
                                        <div class="lis-search"> <i class="fa fa-search lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Région" />
                                        <div class="lis-search"> <i class="fa fa-map-o lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4">
                                            <option> All Categories</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <div class="lis-search"> <i class="fa fa-tags lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4"> <a href="#" class="btn btn-primary btn-block btn-lg"><i class="fa fa-search pr-1"></i> Search</a> </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="What are you looking for?" />
                                        <div class="lis-search"> <i class="fa fa-search lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Location" />
                                        <div class="lis-search"> <i class="fa fa-map-o lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4">
                                            <option> All Categories</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <div class="lis-search"> <i class="fa fa-tags lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4"> <a href="#" class="btn btn-primary btn-block btn-lg"><i class="fa fa-search pr-1"></i> Search</a> </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="What are you looking for?" />
                                        <div class="lis-search"> <i class="fa fa-search lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Location" />
                                        <div class="lis-search"> <i class="fa fa-map-o lis-primary"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4"> <a href="#" class="btn btn-primary btn-block btn-lg"><i class="fa fa-search pr-1"></i> Search</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Inner -->
    <!-- Categories -->
    <section class="lis-grediant grediant-tb-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <div class="heading pb-4">
                        <h5 class="lis-light">Find the best places</h5>
                        <h2 class="f-weight-500">Discover Our Featured Categories.</h2> </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="fullwidth-carousel-container center2 slider">
                <div>
                    <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{{asset('images/slide1.jpg')}}" alt="" class="img-fluid rounded" /> </div>
                            <div class="lis-absolute lis-left-20 lis-top-20 lis-bg4 lis-icon lis-rounded-circle-50 text-center">
                                <div class="text-white mb-0 lis-line-height-2_5 h4"><i class="icofont icofont-fast-food"></i></div>
                            </div>
                        </a>
                        <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                            <h6 class="text-white mb-0">Restaurant</h6> <span class="lis-font-roboto">13 listing</span> </div>
                    </div>
                </div>
                <div>
                    <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{{asset('images/slide2.jpg')}}" alt="" class="img-fluid rounded" /> </div>
                            <div class="lis-absolute lis-left-20 lis-top-20 lis-bg2 lis-icon lis-rounded-circle-50 text-center">
                                <div class="text-white mb-0 lis-line-height-2_5 h4"><i class="icofont icofont-beer"></i></div>
                            </div>
                        </a>
                        <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                            <h6 class="text-white mb-0">Bar & Club</h6> <span class="lis-font-roboto">15 listing</span> </div>
                    </div>
                </div>
                <div>
                    <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{{asset('images/bg1.jpg')}}" alt="" class="img-fluid rounded" /> </div>
                            <div class="lis-absolute lis-left-20 lis-top-20 lis-bg5 lis-icon lis-rounded-circle-50 text-center">
                                <div class="text-white mb-0 lis-line-height-2_5 h4"><i class="icofont icofont-travelling"></i></div>
                            </div>
                        </a>
                        <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                            <h6 class="text-white mb-0">Tour & Travels</h6> <span class="lis-font-roboto">10 listing</span> </div>
                    </div>
                </div>
                <div>
                    <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{{asset('images/slide3.jpg')}}" alt="" class="img-fluid rounded" /> </div>
                            <div class="lis-absolute lis-left-20 lis-top-20 lis-bg3 lis-icon lis-rounded-circle-50 text-center">
                                <div class="text-white mb-0 lis-line-height-2_5 h4"><i class="icofont icofont-radio-mic"></i></div>
                            </div>
                        </a>
                        <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                            <h6 class="text-white mb-0">Entertainment</h6> <span class="lis-font-roboto">18 listing</span> </div>
                    </div>
                </div>
                <div>
                    <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{{asset('images/slide4.jpg')}}" alt="" class="img-fluid rounded" /> </div>
                            <div class="lis-absolute lis-left-20 lis-top-20 lis-bg1 lis-icon lis-rounded-circle-50 text-center">
                                <div class="text-white mb-0 lis-line-height-2_5 h4"><i class="icofont icofont-hotel-alt"></i></div>
                            </div>
                        </a>
                        <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                            <h6 class="text-white mb-0">Hotel</h6> <span class="lis-font-roboto">13 listing</span> </div>
                    </div>
                </div>
                <div>
                    <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{{asset('images/slide5.jpg')}}" alt="" class="img-fluid rounded" /> </div>
                            <div class="lis-absolute lis-left-20 lis-top-20 lis-bg6 lis-icon lis-rounded-circle-50 text-center">
                                <div class="text-white mb-0 lis-line-height-2_5 h4"><i class="icofont icofont-medical-sign-alt"></i></div>
                            </div>
                        </a>
                        <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                            <h6 class="text-white mb-0">Medical</h6> <span class="lis-font-roboto">18 listing</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-12 text-center"> <a href="#" class="btn btn-success btn-default">View More Featured Categories</a> </div>
            </div>
        </div>
    </section>
    <!--End Categories -->
    <!-- Explore Cities -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <div class="heading pb-4">
                        <h2 class="f-weight-500">Explore Cities</h2>
                        <h5 class="lis-light">Discover & connect with top-rated local businesses</h5> </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row portfolio-box">
                <div class="post col-md-4 text-center wow fadeInUp mb-4">
                    <a href="#" class="text-white">
                        <div class="text-white lis-relative lis-masonry"> <img src="{{asset('images/masonry1.jpg')}}" alt="" class="img-fluid rounded w-100">
                            <div class="overlay rounded"></div>
                            <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                <div class="d-table w-100 h-100">
                                    <div class="d-table-cell align-middle">
                                        <h4 class="mb-2 text-white">New York</h4>
                                        <p>16 Listings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post col-md-4 text-center wow fadeInUp mb-4 mb-md-0">
                    <a href="#" class="text-white">
                        <div class="text-white lis-relative lis-masonry"> <img src="{{asset('images/masonry2.jpg')}}" alt="" class="img-fluid rounded w-100">
                            <div class="overlay rounded"></div>
                            <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                <div class="d-table w-100 h-100">
                                    <div class="d-table-cell align-middle">
                                        <h4 class="mb-2 text-white">Los Angeles</h4>
                                        <p>19 Listings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post col-md-4 text-center wow fadeInUp mb-4">
                    <a href="#" class="text-white">
                        <div class="text-white lis-relative lis-masonry"> <img src="{{asset('images/masonry3.jpg')}}" alt="" class="img-fluid rounded w-100">
                            <div class="overlay rounded"></div>
                            <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                <div class="d-table w-100 h-100">
                                    <div class="d-table-cell align-middle">
                                        <h4 class="mb-2 text-white">Washington, D.C.</h4>
                                        <p>27 Listings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post col-md-4 text-center wow fadeInUp mb-4 mb-md-0">
                    <a href="#" class="text-white">
                        <div class="text-white lis-relative lis-masonry"> <img src="{{asset('images/masonry4.jpg')}}" alt="" class="img-fluid rounded w-100">
                            <div class="overlay rounded"></div>
                            <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                <div class="d-table w-100 h-100">
                                    <div class="d-table-cell align-middle">
                                        <h4 class="mb-2 text-white">San Francisco></h4>
                                        <p>23 Listings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post col-md-4 text-center wow fadeInUp mb-4 mb-md-0">
                    <a href="#" class="text-white">
                        <div class="text-white lis-relative lis-masonry"> <img src="{{asset('images/masonry5.jpg')}}" alt="" class="img-fluid rounded w-100">
                            <div class="overlay rounded"></div>
                            <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                <div class="d-table w-100 h-100">
                                    <div class="d-table-cell align-middle">
                                        <h4 class="mb-2 text-white">Chicago</h4>
                                        <p>34 Listings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--End Explore Cities -->
    <!-- Visited Places -->
    <section class="lis-bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <div class="heading pb-4">
                        <h2>Most Visited Places</h2>
                        <h5 class="font-weight-normal lis-light">Discover & connect with top-rated local businesses</h5> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 wow fadeInUp mb-4">
                    <div class="card lis-brd-light text-center text-lg-left">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{asset('images/img5.jpg')}}" alt="" class="img-fluid rounded-top w-100" /> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                            </div>
                        </a>
                        <div class="card-body pt-0">
                            <div class="media d-block d-lg-flex lis-relative"> <img src="{{asset('images/card-logo5.png')}}" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                <div class="media-body align-self-start mt-2">
                                    <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Vintage Italian Beer Bar & Restaurant</A></h6> </div>
                            </div>
                            <ul class="list-unstyled my-4 lis-line-height-2">
                                <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                            </ul>
                            <div class="clearfix">
                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                    <A href="#" class="text-white"><i class="icofont icofont-travelling px-2 lis-bg5 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                <div class="float-none float-lg-right mt-1">
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.0</A> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 wow fadeInUp mb-4">
                    <div class="card lis-brd-light text-center text-lg-left">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{asset('images/img1.jpg')}}" alt="" class="img-fluid rounded-top w-100" /> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                            </div>
                        </a>
                        <div class="card-body pt-0">
                            <div class="media d-block d-lg-flex lis-relative"> <img src="{{asset('images/card-logo.png')}}" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                <div class="media-body align-self-start mt-2">
                                    <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Chico Express Car Taxi and Limo Service</A></h6> </div>
                            </div>
                            <ul class="list-unstyled my-4 lis-line-height-2">
                                <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                            </ul>
                            <div class="clearfix">
                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                    <A href="#" class="text-white"><i class="icofont icofont-travelling px-2 lis-bg5 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                <div class="float-none float-lg-right mt-1">
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-green-light text-white text-white p-2 lis-rounded-circle-50 lis-f-14 lis-line-height-2"><i class="fa fa-star"></i> 4.0</A> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 wow fadeInUp mb-4">
                    <div class="card lis-brd-light text-center text-lg-left">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{asset('images/img2.jpg')}}" alt="" class="img-fluid rounded-top w-100" /> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Closed</div>
                            </div>
                        </a>
                        <div class="card-body pt-0">
                            <div class="media d-block d-lg-flex lis-relative"> <img src="{{asset('images/card-logo2.png')}}" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                <div class="media-body align-self-start mt-2">
                                    <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Bodega Garage - Filipino Night Club</A></h6> </div>
                            </div>
                            <ul class="list-unstyled my-4 lis-line-height-2">
                                <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                            </ul>
                            <div class="clearfix">
                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                    <A href="#" class="text-white"><i class="icofont icofont-radio-mic px-2 lis-bg3 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="text-white"><i class="icofont icofont-beer px-2 lis-bg2 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                <div class="float-none float-lg-right mt-1">
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 5.0</A> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 wow fadeInUp mb-4 mb-lg-0">
                    <div class="card lis-brd-light text-center text-lg-left">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{asset('images/img3.jpg')}}" alt="" class="img-fluid rounded-top w-100" /> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                            </div>
                        </a>
                        <div class="card-body pt-0">
                            <div class="media d-block d-lg-flex lis-relative"> <img src="{{asset('images/card-logo3.png')}}" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                <div class="media-body align-self-start mt-2">
                                    <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Regal Cinemas Destiny USA 19 IMAX & RPX</A></h6> </div>
                            </div>
                            <ul class="list-unstyled my-4 lis-line-height-2">
                                <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                            </ul>
                            <div class="clearfix">
                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                    <A href="#" class="text-white"><i class="icofont icofont-radio-mic px-2 lis-bg3 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                <div class="float-none float-lg-right mt-1">
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.5</A> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 wow fadeInUp mb-4 mb-md-0">
                    <div class="card lis-brd-light text-center text-lg-left">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{asset('images/img12.jpg')}}" alt="" class="img-fluid rounded-top w-100" /> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                            </div>
                        </a>
                        <div class="card-body pt-0">
                            <div class="media d-block d-lg-flex lis-relative"> <img src="{{asset('images/card-logo6.png')}}" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                <div class="media-body align-self-start mt-2">
                                    <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Brenda's French Soul Food Restaurant</A></h6> </div>
                            </div>
                            <ul class="list-unstyled my-4 lis-line-height-2">
                                <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                            </ul>
                            <div class="clearfix">
                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                    <A href="#" class="text-white"><i class="icofont icofont-beer px-2 lis-bg2 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="text-white"><i class="icofont icofont-fast-food px-2 lis-bg4 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">2 More...</A> </div>
                                <div class="float-none float-lg-right mt-1">
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 3.5</A> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 wow fadeInUp">
                    <div class="card lis-brd-light text-center text-lg-left">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{asset('images/img4.jpg')}}" alt="" class="img-fluid rounded-top w-100" /> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Closed</div>
                            </div>
                        </a>
                        <div class="card-body pt-0">
                            <div class="media d-block d-lg-flex lis-relative"> <img src="{{asset('images/card-logo4.png')}}" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                <div class="media-body align-self-start mt-2">
                                    <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Pembridge Palace Hotel and Resort</A></h6> </div>
                            </div>
                            <ul class="list-unstyled my-4 lis-line-height-2">
                                <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                <li><i class="fa fa-map-o pr-2"></i>First Street, New York, USA</li>
                            </ul>
                            <div class="clearfix">
                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                    <A href="#" class="text-white"><i class="icofont icofont-hotel-alt px-2 lis-bg1 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="text-white"><i class="icofont icofont-fast-food px-2 lis-bg2 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">2 More...</A> </div>
                                <div class="float-none float-lg-right mt-1">
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                    <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.5</A> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Visited Places -->
    <!-- Work -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <div class="heading pb-4">
                        <h2>How Does It Work</h2>
                        <h5 class="font-weight-normal lis-light">Discover & connect with top-rated local businesses</h5> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
                    <div class="icon-box box-line box-line-dotted1 lis-relative"> <img src="{{asset('images/icon-1.png')}}" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
                        <h5>1. Find Interesting Place</h5>
                        <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
                    <div class="icon-box box-line box-line-dotted2 lis-relative"> <img src="{{asset('images/icon-2.png')}}" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
                        <h5>2. Choose a Category</h5>
                        <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
                    <div class="icon-box"> <img src="{{asset('images/icon-3.png')}}" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
                        <h5>3. Contact with Owners</h5>
                        <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Work -->
    <!-- Testimonial -->
    <section class="lis-bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center">
                    <div id="testimonial" class="owl-carousel">
                        <div class="item text-center">
                            <div class="quote"><img src="{{asset('images/quote.png')}}" alt="" class="img-fluid mx-auto lis-relative" /></div>
                            <h5>"Amazing Support"</h5>
                            <p class="lis-line-height-2 lis-dark">Really, this is perfect! Very clean theme, beautiful, minimal but complete. It has everything I need. Easy to edit and work with, very well coded and simple interface.</p>
                            <div class="author">
                                <A href="#"><img src="{{asset('images/author.jpg')}}" alt="" class="img-fluid mx-auto rounded-circle py-3" /></A>
                                <h5 class="lis-primary mb-2">Lucas Andrade</h5> <span>Bodega Garage</span> </div>
                        </div>
                        <div class="item text-center">
                            <div class="quote"><img src="{{asset('images/quote.png')}}" alt="" class="img-fluid mx-auto lis-relative" /></div>
                            <h5>"Amazing Support"</h5>
                            <p class="lis-line-height-2 lis-dark">Really, this is perfect! Very clean theme, beautiful, minimal but complete. It has everything I need. Easy to edit and work with, very well coded and simple interface.</p>
                            <div class="author">
                                <A href="#"><img src="{{asset('images/author2.jpg')}}" alt="" class="img-fluid mx-auto rounded-circle py-3" /></A>
                                <h5 class="lis-primary mb-2">Marjaney Tailor</h5> <span>Bodega Garage</span> </div>
                        </div>
                        <div class="item text-center">
                            <div class="quote"><img src="{{asset('images/quote.png')}}" alt="" class="img-fluid mx-auto lis-relative" /></div>
                            <h5>"Amazing Support"</h5>
                            <p class="lis-line-height-2 lis-dark">Really, this is perfect! Very clean theme, beautiful, minimal but complete. It has everything I need. Easy to edit and work with, very well coded and simple interface.</p>
                            <div class="author">
                                <A href="#"><img src="{{asset('images/author3.jpg')}}" alt="" class="img-fluid mx-auto rounded-circle py-3" /></A>
                                <h5 class="lis-primary mb-2">Abelson Dixon</h5> <span>Bodega Garage</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial -->
    <!-- Blog -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <div class="heading pb-4">
                        <h2>Letest Tips &amp; Blog</h2>
                        <h5 class="font-weight-normal lis-light">Discover &amp; connect with top-rated local businesses</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
                    <div class="card border-0 lis-relative">
                        <a href="#">
                            <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="{{asset('images/blog1.jpg')}}" alt="" class="img-fluid rounded"> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                            </div>
                        </a>
                        <div class="pt-4"> <span class="lis-light">16 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero></h6></a>
                            <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
                    <div class="card border-0 lis-relative">
                        <a href="#">
                            <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="{{asset('images/blog2.jpg')}}" alt="" class="img-fluid rounded"> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                            </div>
                        </a>
                        <div class="pt-4"> <span class="lis-light">24 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero></h6></a>
                            <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 wow fadeInUp">
                    <div class="card border-0 lis-relative">
                        <a href="#">
                            <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="{{asset('images/bg2.jpg')}}" alt="" class="img-fluid rounded"> </div>
                            <div class="lis-absolute lis-right-20 lis-top-20">
                                <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                            </div>
                        </a>
                        <div class="pt-4"> <span class="lis-light">30 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero></h6></a>
                            <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Blog -->

{% endblock %}
